iframe {
    border: none;
    overflow-x: visible;
    overflow-y: hidden;
    height: 2800px;
    width: 220px;
}

a:link{
    color:#000099;
    text-decoration:none;
}
a:visited {
    color:#000099;
    text-decoration:none;
}
a:active {
    color:#F14A29;
    text-decoration:none;
}
a:hover {
    color:#F14A29;
    text-decoration:none;
}
aside {
    color:white;
    float:left;
    width:220px;
    text-align:center;
    background-color:#0092BF;
}
address {
    font-style:normal;
    margin:10px;
    text-align:left;
}

header {
    float:top;
    color:white;
    background-color:#0092BF;
    text-align:right;
    height:170px;
}
nav {
    text-align:right;
    font-weight:bold;
    margin-top:1em;
    float:bottom;
}
article {
    text-align:justify;
    margin:10px;
    margin-left:240px;
}
em {
    font-family:monospace,monospace,monospace;
    font-style:normal;
}
.indent {
    margin-left:10em;
    text-indent:-10em;
    margin-top:0em;
    margin-bottom:1em;
}
.indent2 {
    margin-left:10em;
    text-indent:-10em;
    margin-top:0em;
    margin-bottom:0em;
}
.indent3 {
    margin-left:4em;
    text-indent:-4em;
    margin-top:0em;
    margin-bottom:1em;
}
.cv {
    margin-left:2em;
    text-indent:-2em;
    margin-top:0em;
    margin-bottom:1em;
}
.cv2 {
    margin-top:0em;
    margin-bottom:0em;
}
.cv3 {
    margin-left:4em;
    text-indent:-2em;
    margin-top:0em;
    margin-bottom:0.25em;
}
.cv4 {
    margin-left:2em;
    margin-top:1em;
    margin-bottom:1em;
}

.code {
    color:white;
    background:black;
    font-weight:normal;
    margin:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-right:0.5em;
    padding-left:0.5em;
    font-family:monospace,monospace,monospace;
}
.nav {
    float:top;
    text-align:center;
    font-size:0.9em;
    font-weight:bold;
}
h1 {
    padding:0em;
    margin:0em;
    padding-top:1em;
    font-size:1.75em;
}
h2 {
    padding:0em;
    margin:0em;
    font-size:1.25em;
    font-weight:normal;
}
h3 {
    text-decoration:underline;
    font-size:1.25em;
    text-align:center;
}
h6 {
    text-decoration:underline;
    font-size:1em;
    margin-bottom: 0.25em;
    margin-top: 1em;
}
h5 {
    font-size:1em;
    margin-bottom:0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.15em;
    padding-right: 0.25em;
    padding-left: 0.75em;
    background-color:#000099;
    border-radius:1em;
    color:white;
}
h4 {
    text-align:center;
    font-weight:bold;
    font-size:1em;
    padding:0em;
    margins:0em;
}
img.aside {
    float:center;
    width:200;
    margin:10px;
}
img.header {
    float:right;
    height:150px;
    margin:10px;
}
img.icon { height:45px; }
body {
    background: white url(background.png) repeat-y 0% 0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    font-family:sans-serif,sans-serif,sans-serif;
}
